h1{
    color: red;
    background-color: rgb(142, 142, 245);
    width: 700px;
    height: 250px;
    font-size: 200px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px red;


.texto-azul{
color: blue;


}